
 <div class="row">
    <div class="col-sm-12 top_heading d-flex justify-content-between">
        <div class="">
            <h2 class="font-bold heading">Services  </h2>
        </div>
        <div class="view_btn">
            <button type="submit" class="btn secondry-btn font-medium mx-3">Add Service Header</button>
            <button type="submit" class="btn primary-btn font-medium">Add Services</button>
        </div>
    </div>
</div>
<div class="hair-cut-text d-flex align-items-center" >
    <h5 style="color: #FB634F;padding-right: 10px;">Haircuts & Styling</h5>
<i class="fa fa-edit time" ></i>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end">
                <img src="assets/img/three-dots.png" alt="">
            </div>
            <div class="inner_sec text-center">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>

            </div>
            <div class="active-sec d-flex justify-content-between">
                <p class="price">$23</p>
                <p class="time">23 mins</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end">
                <img src="assets/img/three-dots.png" alt="">
            </div>
            <div class="inner_sec text-center">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>

            </div>
            <div class="active-sec d-flex justify-content-between">
                <p class="price">$23</p>
                <p class="time">23 mins</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="second-card">
            <div class="dot-img d-flex justify-content-end">
                <img src="assets/img/three-dots.png" alt="">
            </div>
            <div class="inner_sec text-center">
                <h6 class="font-semi-bold">Haircuts & Styling</h6>

            </div>
            <div class="active-sec d-flex justify-content-between">
                <p class="price">$23</p>
                <p class="time">23 mins</p>
            </div>
        </div>
    </div>
    
</div>